---
import Section from "../layouts/Section.astro";
import Github from "./icons/Github.astro";
---

<Section id="girthub-link">
  <div class="w-full flex items-center justify-center">
    <div class="w-fit">
      <div class="flex justify-center items-center mt-4">
        <a
          href="https://github.com/FranciscoDiazPaccot73/git-mac-alias"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center w-full px-4 py-2 border gap-1 border-transparent text-sm font-medium rounded-md text-white bg-primary hover:bg-primary/90 transition-colors"
        >
          <Github />
          View on GitHub
        </a>
      </div>
      <p class="text-center text-xs mt-3 text-gray-400 mb-20">
        Check out our GitHub repository for the latest updates and to
        contribute!
      </p>
    </div>
  </div>
</Section>
