---
import Terminal from "./icons/Terminal.astro";
---

<header class="bg-gray-800 py-4">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="/" class="text-primary flex items-center space-x-2">
      <Terminal />
      <!-- <span class="font-bold text-xl">Mac Bash Aliases</span> -->
    </a>
    <!-- <nav>
      <ul class="flex space-x-4">
        <li>
          <a
            href="#getting-started"
            class="hover:text-primary transition-colors"
          >
            Getting Started
          </a>
        </li>
        <li>
          <a href="#installation" class="hover:text-primary transition-colors">
            Installation
          </a>
        </li>
        <li>
          <a href="#aliases-list" class="hover:text-primary transition-colors">
            Aliases
          </a>
        </li>
        <li>
          <a href="#contributing" class="hover:text-primary transition-colors">
            Contributing
          </a>
        </li>
        <li>
          <a href="#changelog" class="hover:text-primary transition-colors">
            Changelog
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
</header>
